.cauchuyen .title1,.cauchuyen .date{
    float: left;
}
.cauchuyen .title1{
    margin-top: 2%;
    font-size: 1.5rem;
    margin-right: 200px;
}
.cauchuyenall{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
    margin:2rem 4rem 4rem 0;
    text-align: start;
}
.category{
    float: right;
    width: 30%;
    text-align: left;
    padding-left: 20px;
}
.cauchuyen{
    width: 70%;
    float: left;
}
.cauchuyen .title2{
    margin-top: 80px;
    font-size: 1.5rem;
}
.cauchuyen .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
}
.cauchuyen .poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cauchuyen .date,
.cauchuyen .content {
  flex: 1;
  text-align: left;
}
  
.cauchuyen .content .contact{
    text-align: center;
}
.cauchuyen .content .contact h3{
    margin-bottom: 0px;
}
.cauchuyen .content .contact a{
    text-decoration: none;
    color: #888888;
}
.cauchuyen .content .contact .facebook{
    font-size: 3rem;
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
}
.cauchuyen .content .about-author{
    font-size: 1.5rem;
}


.cauchuyen .content .about-author a{
    font-size: 1rem;
    text-decoration: none;
    color: #a02024;
}

.cauchuyen .poster{
    overflow: hidden;
    border-radius: 7px;
}
.cauchuyen .poster img{
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    border-radius: 7px;
}
.cauchuyen .content h3{
    font-size: 1.5rem;
}
.cauchuyen .poster:hover img{
    transform: scale(1.1);
}
.category p{
    color: #888888;
}
.category .title1{
    border-bottom: 1px solid #BBBBBB;
    font-size: 1.2rem;
}
.category .title2{
    margin-top: 10%;
    border-bottom: 1px solid #BBBBBB;
    font-size: 1.2rem;
}
.category .title3{
    margin-top: 10%;
    border-bottom: 1px solid #BBBBBB;
    font-size: 1.2rem;
}
.search .search-form-category {
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    padding: 0.3rem 1rem;
    margin-left: -20px;
    margin-top: 15px;
  }
  
  .search-form-category input {
    flex: 0.8;
    border: none;
    padding: 0.7rem 1rem;
    outline: none;
    background-color: #fff;
    border: 1px solid #888888 ;
  }
  
  .search-form-category button {
    padding: 0.8rem 1rem;
    background: #222;
    color: #ddd;
    border: none;
    cursor: pointer;
  }
  .category .product-tags{
    margin-top: 20px;  
  }
  .category .product-tags a{  
    padding: 0.2rem 0.5rem;
    color: #222;
    border: 1px solid #BBBBBB;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
  }
  .category .product-tags div{
    margin-top: 15px;
  }
  .category .product-tags a:hover{
    background-color: #c62828;
    color: #fff;
  }
  .cauchuyen .content .leave-a-reply{
    width: 100%;
    height: auto;
  }
  .cauchuyen .content .leave-a-reply h4{
    font-size: 2rem;
  }
  .cauchuyen .content .leave-a-reply p{
    margin-top: -30px;
    margin-bottom: 20px;
  }
  .cauchuyen .content .leave-a-reply textarea{
    font-size: 2rem;
    width: 80%;
    height: 200px;
    border: 2px solid black;
}
  .cauchuyen .content span input{
    margin: 1% 1% 1% 0;
    font-size: 1rem;
    padding: 0.5rem 0rem;
    border: 2px solid black;
  }
  .cauchuyen .content .checkbox{
    font-size: 1.3rem;
    margin-bottom: 1%;
  }
  .cauchuyen .content button{
    padding: 0.5rem 1.5rem;
    color: #fff;
    background-color: #222;
    cursor: pointer;
  }
  .cauchuyen .content button:hover{
    background: #888888;
  }
  .cauchuyen .content .related-posts .post-image img{
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    border-radius: 7px;
}
.cauchuyen .content .related-posts .post-image:hover img{
    transform: scale(1.1);
}
.cauchuyen .content .related-posts .post-image{
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
}
.cauchuyen .content .related-posts .post-card a{
    text-decoration: none;
    font-size: 1rem;
    color: #a02024;
    transition: 0.2s ease-in-out;
    position: relative; 
}
.cauchuyen .content .related-posts .post-card a::after {
    content: '>';
    position: absolute;
    
    top: 2px;
    right: -15px; 
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
.cauchuyen .content .related-posts .post-card  a:hover::after {
    opacity: 1;
  }
.cauchuyen .content .related-posts .post-card a::before{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #a02024;
    transition: width 0.3s ease-in-out;
}
.cauchuyen .content .related-posts .post-card a:hover::before {
    width: 100%;
  }
  .cauchuyen .content .related-posts .post-card .content{
    width: 100%;
  }
  .cauchuyen .content .related-posts .post-card .date{
    margin-top: -5%;
 }
 .cauchuyen .content .related-posts{
    margin-top: 10%;
    font-size: 1rem;
}
.cauchuyen .content .related-posts .p-card{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between; 
}
.cauchuyen .content .related-posts .post-card{
    text-align: start;
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem 0.8rem;
}
  @media screen and (max-width: 1280px) {
        .category{
           display: none;
        }
        .cauchuyenall{
            display: flex;
            flex-direction: column;
            padding-left: 0%;
            padding-right: 0%;
        }
        .cauchuyen{
            position: relative;
            left: 50%;
            transform: translate(-50%);
        }
        .cauchuyen .content .leave-a-reply textarea{
            font-size: 2rem;
            columns: 60;
            rows:10;
          }
  }
  @media screen and (max-width: 850px) {
    .cauchuyenall{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 5% 0 0 0;
    }
    .cauchuyen .title1{
        width: 100%;
        font-size: 1rem;
    }
    .cauchuyen .date{
        font-size: 0.8rem;
    }
    .cauchuyen .title2{
        font-size: 0.53rem;
    }
    .cauchuyen .content h3{
        font-size: 0.8rem;
    }
    .cauchuyen .content .about-author {
        font-size: 1rem;
    }
    .cauchuyen .content .about-author .admin{
        margin-top: 30px;
    }
    .cauchuyen .content .about-author a{
        font-size: 0.63rem;
    }
    .cauchuyen .content .leave-a-reply textarea{
        font-size: 1.4rem;
      }
  }