.footer{
    height: auto;
    padding: 2rem 3rem;
    background: #a02024;
    color: #fff;
}
.top{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.top img{
    width: 200px;
}
.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bottom div{
    display: flex;
    flex-direction: column;
}
.bottom h4{
    font-size: 1.3rem;
    padding: 1rem 0 0.8rem 0;
}
.bottom a{
    text-decoration: none;
    color: #fafafa;
    font-size: 1.1rem;
    padding-bottom: 1rem;
}
.social i{
    color: #fff;
    font-size: 2rem;
    margin-right: 1rem;
}
@media screen and (max-width: 1420px) {
    .social{
        display: none;
    }
}
@media screen and (max-width: 850px) {
    .footer{
        padding: 4rem 2rem;
    }
    .bottom div{
        width: 45%;
        padding-right: 10px;
    }
    .bottom .address{
        display: none;
    }
    .social{
        display: none;
    }
}