.index{
    background-image: url(../assets/images/720251.jpg);
    width: 100%;
    height: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-origin: content-box;
    padding-top: 100px;
    padding-bottom: 100px;
}
.index .background-second .image-logo-index .logo-index{
    width: 500px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.index .background-second .image-logo-index .logo-index img{
    margin-top: 40px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.index .background-second{
    width: 70%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background:url(../assets/images/background-layer-2-1.jpg);
}
.index .background-second .image-logo-index .product-index{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.index .background-second .image-logo-index .product-index .product{
    padding: 5%;
}
.index .background-second .image-logo-index .product-index .product .product-image{
    text-align: center;
}
.index .background-second .image-logo-index .product-index .product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.index .background-second .image-logo-index .product-index p{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.index .background-third{
    width: 70%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background:url(../assets/images/cau-chuyen-background-1.jpg);
    display: flex;
}
.background-third .carousel{
    width: 40%;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
    padding: 0.7rem 1rem;
    float: right;
    padding: 2%;
}
.background-third .story{
    width: 60%;
    color: #f5e0b1;
    padding: 2%;
}
.background-third .story .title{
    text-align: left;
    width: 100%;
    font-size: 1.3rem;
}
.background-third .story .content{
    text-align: left;
    width: 100%;
}
.background-third .story .button{
    width: 100%;
    text-align: left;
    margin-top: 5%;
}
.background-third .story .button a{
    padding: 0.7rem 1rem;
    background-color: #777777;
    color: #ddd;
    border-radius: 7px;
    text-decoration: none;
}
.background-third .story .button:hover a{
    background-color: #333333;
}
.index .background-third .product img{
    object-fit: cover;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 7px;
}
.index .background-second .title{
    padding-top: 3%;
    text-align: center;
}
.index .background-second .title a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #555;
    font-weight: bold;
}
.index .background-second .procedure{
    background: url(../assets/images/ut-lien-mua-hang-tinh.jpg);
    width: 100%;
    height: 0;
    padding-top: 22%; 
    object-fit: cover;
    background-size: cover;
    background-position: center;
    margin-top: 2%;
}
@media screen and (max-width:1310px) {
    .index .background-second .image-logo-index .logo-index{
        width: 200px;
        padding-right: 68%;
        padding-bottom: 3%;
    }
    .index .background-second .image-logo-index .product-index{
        padding-right: 5%;
        padding-bottom: 10%;
    }
    .index .background-second .image-logo-index .product-index .product img{
        width: 100%;
    }
}
@media screen and (max-width: 850px){
    .index .background-second .image-logo-index .logo-index{
        width: 100%;
        padding-right: 0%;
        padding-bottom: 3%;
    }
    .index .background-second .image-logo-index .logo-index img{
        width: 40%;
        padding-left: 5%;
    }
    .background-third .carousel{
        width: 50%;
    }
}
@media screen and (max-width: 770px){
    .index .background-second .image-logo-index .logo-index{
        text-align: center;
    }
    .index .background-second .image-logo-index .logo-index img{
        width: 60%;
    }
.index .background-second .image-logo-index .product-index{
        flex-direction: column;
        width: 95%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    .index .background-second .image-logo-index .product-index .product img{
        width: 50%;
    }
    .index .background-second{
        width: 100%;
    }
    .index .background-third{
        width: 100%;
        flex-direction: column;
    }
    .background-third .carousel{
        width: 95%;
    }
    .index .background-third .product img{
        height: 300px;
        padding: 2%;
    }
    .background-third .story{
        width: 95%;
    }
    .background-third .story .button{
        text-align: left;
        margin-top: 10%;
        margin-bottom: 3%;
    }
}