.thongtin .title{
    margin-top: 2%;
    font-size: 1.3rem;
}
.thongtin .line{
    border: 1px solid #555;
    width: 100%;
    margin-top: 4%;
}
.thongtin .page .page-info{
    color: #555;
}
.thongtin .page{
    display: flex;
    margin-top: 3%;
    margin-bottom: 10%;
}
.thongtin .page .page-number {
    text-align: right;
    width: 76.8%;
}
.thongtin .page .page-number a{
    padding: 0.2rem 0.5rem;
    margin-right: 1%;
    text-decoration: none;
    color: #222;
    background-color: #fff;
    border: 2px solid #eeeeee;
    font-size: 1.3rem;
    transition: 0.3s ease-in-out;
}
.thongtin .page .page-number .one{
    background-color: #a02024;
    color: #fff;
}
.thongtin .page .page-number a:hover{
    background-color: #a02024;
    color: #fff;

}
.thongtin .post{
    margin-top: 10%;
}
.thongtin {
    display: flex;
    flex-direction: column;
}
.thongtin .content,
.thongtin .more{
    margin-top: 2%;
}
.thongtinall{
    display: flex;
    // margin:3rem 40% 1rem 0;
    margin-left: auto;
    margin-right: auto;
}
.thongtinall .category{
    float: right;
    width: 30%;
    text-align: left;
    padding-left: 20px;
}
.thongtin{
    width: 70%;

    flex-direction: column;
}
.thongtin .poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.thongtin .poster{
    overflow: hidden;
    border-radius: 7px;
}
.thongtin .poster img{
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    border-radius: 7px;
}
.thongtin .poster:hover img{
    transform: scale(1.1);
}
.category p{
    color: #888888;
}
.category .title1{
    border-bottom: 1px solid #BBBBBB;
    font-size: 1.2rem;
}
.category .title2,
.category .title3{
    margin-top: 10%;
    border-bottom: 1px solid #BBBBBB;
    font-size: 1.2rem;
}
.search .search-form-category {
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    padding: 0.3rem 1rem;
    margin-left: -20px;
    margin-top: 15px;
  }
  
  .search-form-category input {
    flex: 0.8;
    border: none;
    padding: 0.7rem 1rem;
    outline: none;
    background-color: #fff;
    border: 1px solid #888888 ;
  }
  
  .search-form-category button {
    padding: 0.8rem 1rem;
    background: #222;
    color: #ddd;
    border: none;
    cursor: pointer;
  }
  .category .product-tags{
    margin-top: 20px;  
  }
  .category .product-tags a{  
    padding: 0.2rem 0.5rem;
    color: #222;
    border: 1px solid #BBBBBB;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
  }
  .category .product-tags div{
    margin-top: 15px;
  }
  .category .product-tags a:hover{
    background-color: #c62828;
    color: #fff;
  }
.thongtin .more a{
    text-decoration: none;
    font-size: 1rem;
    color: #a02024;
    transition: 0.2s ease-in-out;
    position: relative; 
}
.thongtin .more a::after {
    content: '>';
    position: absolute;
    top: 2px;
    right: -15px; 
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .thongtin .more a:hover::after {
    opacity: 1;
  }
  .thongtin .more a::before{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #a02024;
    transition: width 0.3s ease-in-out;
}
.thongtin .more a:hover::before {
    width: 100%;
  }
  @media screen and (max-width: 1280px) {
    .thongtinall .category{
        display: block;
    }
        // .cauchuyenall{
        //     display: flex;
        //     flex-direction: column;
        //     padding-left: 0%;
        //     padding-right: 0%;
        // }
        // .cauchuyen{
        //     position: relative;
        //     left: 50%;
        //     transform: translate(-50%);
        // }
  }
  @media screen and (max-width: 995px) {
    .thongtinall{
        flex-direction: column;
        width: 65%;
    }
    .thongtinall .category{
        width: 100%;
        padding-left: 0;
    }
    .thongtinall .thongtin{
        width: 100%;
    }
    .thongtinall .category .product-tags .group-tags{
        display: flex;
        padding-top: 0;
        margin-top: 0;
    }
    .category .product-tags .group-tags a{  
        padding: 0rem 0.2rem;
    }
    .thongtinall .category .product-tags .group-tags a{
        margin-right: 10px;
    }
  }
  @media screen and (max-width: 915px) {
    .thongtinall .category .product-tags .group-tags{
        flex-direction: column;
        
    }
  }